# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=si8kibky
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=

# Scalability test
SCALABILITY_TEST_WEBHOOK_URL=https://n8nfastscribe.convertlabs.fr/webhook/f8aada19-fa30-401d-bebb-f21bd7e48e28

# Immersion questionnaire
IMMERSION_QUESTIONNAIRE_WEBHOOK_URL=https://n8nfastscribe.convertlabs.fr/webhook/07d43fca-0c44-4c6d-899e-6213358ab921
IMMERSION_QUESTIONNAIRE_WEBHOOK_SECRET=
